  </main>
  <footer class="footer">
    <p>GuruLINKER v1.0 — Developed with 💛 by <a href='https://t.me/denys_maksymuck'>Denys</a></p>
  </footer>
  <script src="/js/dashboard.js"></script>
</body>
</html>
